:root {
  --dark: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
  --grey: rgba(252, 249, 249, 0.4);
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: var(--white);
  background-color: var(--dark);
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

/* MOBILE ADAPTIVE */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* DESKTOP 1280*/
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* DESKTOP 1440 */
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
