/* .aboutus-container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
} */

.aboutus-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}
.aboutus-container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding-bottom: 62px;
}

.about-us-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}

.about-us-text-top {
  margin-bottom: 20px;
}

.about-us-section {
  background-image: url(/img/about-us/aboutus-mob.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 325px) and (min-resolution: 192dpi) {
  .about-us-section {
    background-image: url(/img/about-us/aboutus-mob@2x.png);
    background-size: 70%;
  }
}

@media screen and (min-width: 768px) {
  .about-us-section {
    background-image: url(/img/about-us/aboutus-tab.png);
    max-width: 768px;
  }

  .aboutus-title {
    font-size: 44px;
    line-height: 1.45455;
  }

  .aboutus-container {
    column-gap: 40px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .about-us-section {
    background-image: url(/img/about-us/aboutus-tab@2x.png);
    max-width: 768px;
    background-size: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus-container {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .text-container {
    max-width: 536px;
  }

  .about-us-section {
    background-image: url(/img/about-us/aboutus-pc.png);
    max-width: 1280px;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .about-us-section {
    background-image: url(/img/about-us/aboutus-pc@2x.png);
    background-size: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .about-us-section {
    max-width: 1440px;
    background-image: url(/img/elements-grey.png);
    background-size: 33%;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .about-us-section {
    background-image: url(/img/elements-grey@2x.png);
    background-size: 33%;
  }
}
