.sections-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 25px;
}

.section-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #FCF9F9;
    width: 124px;
}

.slogan {
    font-weight: 400;
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
    color: #FCF9F9;
    padding-bottom: 80px;
}

.slogan-item {
    color: #ECD979;
}

.footer {
    background-image: url(/img/footer/slice-mobile.png);
    background-position: bottom;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(252, 249, 249, 0.1);
    display: flex;
}

.section-link:hover,
.section-link:focus {
    color: #ECD979;
    transition: color var(--timing-function);
}



@media screen and (max-width: 374px) {
    .slogan {
        font-size: 24px;
    }

    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }

    .sections-list {
        display: grid;
        grid-template-columns: 116px 124px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .slogan {
        padding-bottom: 280px;
    }
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .footer {
            background-image: url(/img/footer/slice-mobile@2x.png);
        background-size: 375px 200px;
    }
}

@media screen and (max-width: 239px) {
    .sections-list {
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .sections-list {
        column-gap: 25px;
    }

    .slogan {
        width: 521px;
        font-weight: 400;
        font-size: 54px;
        line-height: 1.19;
        letter-spacing: -0.03em;
        padding-bottom: 40px;
    }

    .sections-list {
        width: 478px;
        padding-bottom: 80px;
        padding-top: 40px;
    }

    .footer {
        background-image: url(/img/footer/slice-tablet.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        padding-bottom: 0px;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .fist {
        order: 1;
    }

    .second {
        order: 3;
    }

    .third {
        order: 2;
    }

    .fourth {
        order: 4
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .footer {
    background-image: url(/img/footer/slice-tablet@2x.png);
    background-size: 174px 370px;
    }
}

@media screen and (min-width: 1280px) {
    .slogan {
        font-weight: 400;
        font-size: 64px;
        line-height: 1.16;
        letter-spacing: -0.03em;
        width: 754px;
        padding-bottom: 40px;
    }

    .footer {
        background-image: url(/img/footer/slice-desktop1280.png);
        background-position: bottom right;
        padding-bottom: 0px;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .sections-list {
        width: 478px;
        column-gap: 25px;
        padding-bottom: 117px;
        padding-top: 40px;
    }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
    .footer {
        background-image: url(/img/footer/slice-desktop1280@2x.png);
        background-size: 334px 363px;
        }
}

@media screen and (min-width: 1440px) {

    .slogan {
        padding-bottom: 40px;
    }

    .footer {
        background-image: url(/img/footer/slice-desktop1440.png);
        background-position: bottom right;
        padding-bottom: 0px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .sections-list {
        padding-top: 40px;
    }

}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .footer {
            background-image: url(/img/footer/slice-desktop1440@2x.png);
        background-size: 496px 363px;
        }
}