.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.nav-list {
  display: none;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.nav-list-item {
  line-height: 1.29;
  text-transform: uppercase;
  color: var(--white);
  transition: color var(--timing-function);
}

.nav-list-item:hover {
  color: var(--yellow);
}

.phone {
  display: none;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 28px;
  min-width: 193px;
  min-height: 48px;
  line-height: 1.43;
  text-transform: uppercase;
  color: var(--white);
  margin-left: auto;
  transition: border-color var(--timing-function);
}

.phone:hover {
  border: 1px solid var(--yellow);
}

.social-pages-list {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.icon {
  display: flex;
  background: rgba(252, 249, 249, 0.1);
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  fill: var(--white);
  transition: border-color var(--timing-function);
}

.icon:hover {
  background: none;
  border: 1px solid var(--yellow);
}

.menu-button {
  display: flex;
  border: none;
  list-style: none;
  background: transparent;
  padding: 0;
  margin-left: 12px;
}
.mobile-menu-burger {
  stroke: #ecd979;
  width: 36px;
  height: 24px;
}

/* MEDIA */

@media screen and (min-width: 768px) {
  .menu-button-list {
    gap: 9px;
    width: 44px;
    margin-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .mobile-menu-burger {
    stroke: #ecd979;
    width: 44px;
    height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 60px;
  }

  .social-pages-list {
    margin-left: 20px;
  }

  .nav-list {
    display: flex;
  }

  .menu-button {
    display: none;
  }

  .phone {
    display: block;
  }
}
/* ================================= MOBILE MENU =============================== */
.mobile-menu {
  max-width: 274px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: #ecd979;
  overflow-y: auto;
  transform: translateX(100%);
  transition: var(--timing-function);
}

.mobile-menu.is-open {
  transform: translateX(0%);
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  position: relative;

  padding-top: 20px;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 21px;
  right: 20px;
  border: none;
  padding: 0;
  background-color: transparent;

  stroke: #2e2f42;
}

.mobile-menu-close-btn-icon {
  width: 36px;
  height: 36px;
}

.mobile-menu-page-adress {
  padding-top: 12px;
  padding-left: 20px;
}
.mobile-menu-address-item {
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  text-align: left;
  color: #1c2225;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #1c22251a;
  border-radius: 15px;
  padding: 12px 20px;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}
.mobile-menu-list-item {
  text-align: right;
  line-height: 1.28;
  font-style: normal;
  text-transform: uppercase;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.background-menu {
  height: 251px;
  display: block;
  width: 274px;
  background-image: url(/img/mobile-menu/mobile-elements.png);
  background-repeat: no-repeat;

  background-size: 274px 251px;
}
@media screen and (min-resolution: 192dpi) {
  .background-menu {
    background-image: url(/img/mobile-menu/mobile-elements@2x.png);
  }
}

@media screen and (max-width: 374px) {
  .mobile-menu {
    max-width: 240px;
  }
  .mobile-menu-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-menu-page-adress {
    padding-left: 10px;
  }
  .mobile-menu-close-btn-icon {
    width: 32px;
    height: 32px;
  }
  .mobile-menu-list {
    padding-right: 10px;
  }
  .mobile-menu-close-btn {
    top: 25px;
    right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    max-width: 380px;
  }
  .mobile-menu-page-adress {
    padding-left: 32px;
  }
  .mobile-menu-close-btn-icon {
    width: 44px;
    height: 44px;
  }
  .mobile-menu-list {
    padding-right: 32px;
  }
  .background-menu {
    height: 364px;
    width: 380px;
    background-image: url(/img/mobile-menu/tablet-elements.png);
    background-size: 380px 364px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .background-menu {
    background-image: url(/img/mobile-menu/tablet-elements@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 18px;
  }
}
