.our-collection {

}

.container {
}

.our-collection-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    text-align: center;
    margin-bottom: 40px;
}

.our-collection-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.our-collection-menu::before {
    content: "";
    position: absolute;
    background-image: url("/img/elements-yellow.png");
    left: 0;
    top: 0;
    background-size: 199px 177px;
}

.our-collection-menu-item {
}

.our-collection-text-container {

}

.our-collection-menu-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fcf9f9;
    margin: 18px 0 8px 0;
}

.our-collection-menu-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
}

.accent-punto {
    display: none;
}
.accent-blousering {
}

@media screen and (min-width: 768px) {
    .our-collection-menu {
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }
    .our-collection-menu-item {
        width: calc((100% - 20px) / 2);
    }
    .our-collection-menu-title {
        font-size: 18px;
    }
    .our-collection-menu-subtitle {
        font-size: 18px;
    }
    .accent-punto {
        display: inline-block;
    }
    .accent-blousering {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .our-collection-menu-item {
        width: calc((100% - 20px) / 4);
    }
    .accent-punto {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .our-collection-menu-item {
        width: calc((100% - 20px) / 4);
    }
    .accent-punto {
        display: none;
    }
}