/* mobile */

.testimonials {
    padding-bottom: 80px;
}

.testimonials-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: -0.03em;
    color: var(--white);
    margin-bottom: 64px;
}

.testimonials-item {
    position: relative;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 4px;
    background-color: #1C2225;
    
}

.testimonials-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    width: auto;
}


.testimonials-box {
    padding: 54px 22px 18px;
}


.testimonials-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #FCF9F9;
    margin-bottom: 8px;
}

.testimonials-text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: rgba(252, 249, 249, 0.4);
    line-height: 1.37;
}
.hidden-item-first {
    display: none;
}
.hidden-item-second {
    display: none;
}

@media screen and (max-width: 374px) {
    .testimonials-title{
        font-size: 24px;
    }
}

 @media screen and (min-width: 768px) {
    .testimonials {
        padding-bottom: 100px;
    }

    .testimonials-list {
        display: flex;
        gap: 32px;
    }
     .hidden-item-first {
        display: block;
    }
    .testimonials-item {
        width: calc((100% - 32px) / 2);
    }
    .testimonials-box{
        padding-right: 18px;
        padding-left: 18px;
    }
        .testimonials-title {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: -0.03em;
    }
}

 @media screen and (min-width: 1280px) {
    .testimonials {
        padding-bottom: 150px;
    }
    .testimonials-list {
         gap: 26px;
    }
    .testimonials-item {
        width: calc((100% - 52px) / 3);
    }
     .hidden-item-second {
       display: block;
    }
     .testimonials-item {
       width: calc((100% - 52px) / 3);
     }

}