.your-order {
  padding-bottom: 80px;
}
.bcg-img-your-order {
  display: block;
  width: 375px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  background-image: url('/../img/your-order/bg-order-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 375px 500px;
}
@media screen and (max-width: 374px) {
  .title-your-order {
    font-size: 24px;
  }
}
.title-your-order {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.text-color-order {
  color: var(--yellow);
}
.form-your-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-input {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  width: 100%;
  height: 47px;
  background-color: transparent;
  outline: transparent;
  color: var(--white);
  margin-bottom: 20px;
  transition: border-color var(-timing-function);
}
.order-input:hover,
.order-input:focus {
  border-color: rgba(252, 249, 249, 0.6);
}
.order-textarea {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 8px;
  padding: 14px 16px;
  width: 100%;
  height: 196px;
  background-color: transparent;
  resize: none;
  outline: transparent;
  color: var(--white);
  margin-bottom: 40px;
  transition: border-color var(-timing-function);
}
.order-textarea:hover,
.order-textarea:focus {
  border-color: rgba(252, 249, 249, 0.6);
}
.order-input::placeholder,
.order-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--grey);
}
.btn-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  width: 145px;
  height: 49px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: inherit;
  transition: border-color var(-timing-function);
}
.btn-order:hover,
.btn-order:focus {
  border-color: var(--yellow);
}
.icon-btn-order {
  fill: var(--yellow);
}
.your-order-img {
  display: none;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .bcg-img-your-order {
    background-image: url('/../img/your-order/bg-order-mobile@2x.jpg');
  }
}

/* ========================================================================================================================================================
tablet
======================================================================================================================================================== */
@media screen and (min-width: 768px) {
  .your-order {
    padding-bottom: 179px;
    background-image: url('/../img/your-order/element-tablet.png');
    background-size: 323px 484px;
    background-repeat: no-repeat;
    background-position: bottom 100px left;
  }
  .bcg-img-your-order {
    width: 768px;
    height: 776px;
    background-image: url('/../img/your-order/bg-order-tablet.jpg');
    background-size: 768px 776px;
    background-repeat: no-repeat;
    background-position: top;
  }
  .title-your-order {
    max-width: 542px;
    font-size: 44px;
    line-height: 1.32;
  }
  .form-your-order {
    align-items: start;
    margin-bottom: 100px;
  }
  .order-input {
    max-width: 508px;
    height: 50px;
  }
  .order-textarea {
    max-width: 508px;
  }
  .btn-order {
    font-size: 16px;
    width: 168px;
    height: 50px;
  }
  .your-order-img {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .your-order {
    background-image: url('/../img/your-order/element-tablet@2x.png');
  }
  .bcg-img-your-order {
    background-image: url('/../img/your-order/bg-order-tablet@2x.jpg');
  }
}
/* ========================================================================================================================================================
desktop
======================================================================================================================================================== */
@media screen and (min-width: 1280px) {
  .your-order {
    padding-bottom: 150px;
    background-image: url('/../img/your-order/element-desktop.png');
    background-size: 289px 484px;
    background-position: bottom 150px left;
  }
  .bcg-img-your-order {
    width: 1280px;
    background-image: url('/../img/your-order/bg-order-desktop.jpg');
    background-size: 1280px 776px;
  }
  .form-your-order {
    margin-bottom: 0;
  }
  .wrap-your-order {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
  }
  .your-order-section {
    display: flex;
    flex-direction: column;
  }
  .your-order-img {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .your-order {
    background-image: url('/../img/your-order/element-desktop@2x.png');
  }
  .bcg-img-your-order {
    background-image: url('/../img/your-order/bg-order-desktop@2x.jpg');
  }
}
/* ========================================================================================================================================================
desktop 1440
======================================================================================================================================================== */
@media screen and (min-width: 1440px) {
  .your-order {
    background-image: url('/../img/your-order/element-desktop1440.png');
    background-size: 325px 484px;
  }
  .bcg-img-your-order {
    width: 1440px;
    background-image: url('/../img/your-order/bg-order-desktop1440.jpg');
    background-size: 1440px 776px;
  }
  .title-your-order {
    max-width: 666px;
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .your-order {
    background-image: url('/../img/your-order/element-desktop1440@2x.png');
  }
  .bcg-img-your-order {
    background-image: url('/../img/your-order/bg-order-desktop1440@2x.jpg');
  }
}
