<footer class="footer">
  <div class="container footer-container">
    <ul class="footer-section-list">
      <li class="footer-section-item">
        <a href="index.html#about-us" class="footer-section-link">ABOUT US</a>
      </li>
      <li class="footer-section-item">
        <a href="index.html#your-order" class="footer-section-link"
          >CUSTOMER ORDER</a
        >
      </li>
      <li class="footer-section-item">
        <a href="index.html#our-collection" class="footer-section-link"
          >OUR COLLECTION</a
        >
      </li>
      <li class="footer-section-item">
        <a href="index.html#testimonials" class="footer-section-link"
          >TESTIMONIALS</a
        >
      </li>
    </ul>
    <h2 class="footer-slogan">
      A touch of <span class="footer-slogan-span">Ukrainian</span> culture in
      every embroidery
    </h2>
  </div>
  <div class="footer-bg"></div>
</footer>
