<footer class="footer">
  <div class="container">
    <nav class="nav-list">
      <ul class="sections-list">
        <li class="section-item fist">
          <a class="section-link">ABOUT US</a>
        </li>
        <li class="section-item second">
          <a class="section-link">CUSTOMER ORDER</a>
        </li>
        <li class="section-item third">
          <a class="section-link">OUR COLLECTION</a>
        </li>
        <li class="section-item fourth">
          <a class="section-link">TESTIMONIALS</a>
        </li>
      </ul>
    </nav>
    <h2 class="slogan">
      A touch of <span class="slogan-item">Ukrainian</span> culture in every
      embroidery
    </h2>
  </div>
  <div class="ornament-background"></div>
</footer>
