<section class="hero-section">
    <div class="container hero-container">
        
        <picture>
            <source srcset="./img/hero/hero-desktop1440.jpg 1x, 
            ./img/hero/hero-desktop1440@2x.jpg 2x
          "
          media="(min-width: 1440px)">
          
          <source srcset="./img/hero/hero-desktop.jpg 1x, 
          ./img/hero/hero-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)">

          <source srcset="./img/hero/hero-tablet.jpg 1x, 
          ./img/hero/hero-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)">

          <source srcset="./img/hero/hero-mobile.jpg 1x, 
          ./img/hero/hero-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)">
          
          
        <img class="hero-img" src="./img/hero/hero-mobile.jpg" alt="girl" />
    </picture>
    <div class="hero-wrap-main">
        <h1 class="hero-title">Reviving the traditional <span class="color-orange">Ukrainian</span> artistry in every stitch.</h1>
        <a class="hero-link" href="#your-order" >Order
            <svg class="hero-link-icon" width="24" height="17">
                <use href="./img/svg/icons.svg#icon-arrow"></use>
            </svg>
        </a>
    </div>
        <div class="hero-wrap">
            <svg class="hero-wrap-icon" width="52" height="51">
                <use href="./img/svg/icons.svg#icon-star"></use>
            </svg>
        
        <p class="hero-wrap-text">all embroidery is made by hand</p>
    </div>
    </div>

</section>
