<section class="hero-section">
    <div class="container hero-container">
    
        <img class="hero-img" src="./img/hero/hero-desktop1440.jpg" alt="girl" />
        <div class="hero-wrap-title">
        <h1 class="hero-title">Reviving the traditional <span class="color-orange">Ukrainian</span> artistry in every stitch.</h1>
        <a class="hero-link" href="" >Order
            <svg class="hero-link-icon">
                <use></use>
            </svg>
        </a>
    </div>
        <div class="hero-wrap">
            <svg class="hero-wrap-icon" width="52" height="51">
                <use></use>
            </svg>
        
        <p class="hero-wrap-text">all embroidery is made by hand</p>
    </div>
    </div>
</section>
