<section class="our-collection container">
  <h2 class="our-collection-title" id="our-collection">Our collection</h2>
  <ul class="our-collection-menu">
    <li class="our-collection-menu-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/our-collection/desktop1440/poltava-desktop1440.jpg    1x,
            /img/our-collection/desktop1440/poltava-desktop1440@2x.jpg 2x
          "
          width="400"
          height="430"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/our-collection/desktop/poltava-desktop.jpg    1x,
            /img/our-collection/desktop/poltava-desktop@2x.jpg 2x
          "
          width="380"
          height="430"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/our-collection/tablet/poltava-tablet.jpg    1x,
            /img/our-collection/tablet/poltava-tablet@2x.jpg 2x
          "
          width="342"
          height="430"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            /img/our-collection/mobile/poltava-mobile.jpg    1x,
            /img/our-collection/mobile/poltava-mobile@2x.jpg 2x
          "
          width="335"
          height="400"
        />

        <img
          src="/img/our-collection/mobile/poltava-mobile.jpg"
          alt="AUGUST Poltava women's blouseRING"
        />
      </picture>
      <div class="our-collection-text-container">
        <h3 class="our-collection-menu-title">
          AUGUST POLTAVA WOMEN'S <span class="accent-punto">...</span>
          <span class="accent-blousering">BLOUSERING</span>
        </h3>
        <p class="our-collection-menu-subtitle">3300 UAH</p>
      </div>
    </li>
    <li class="our-collection-menu-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/our-collection/desktop1440/gorgany-desktop1440.jpg    1x,
            /img/our-collection/desktop1440/gorgany-desktop1440@2x.jpg 2x
          "
          width="400"
          height="430"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/our-collection/desktop/gorgany-desktop.jpg    1x,
            /img/our-collection/desktop/gorgany-desktop@2x.jpg 2x
          "
          width="380"
          height="430"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/our-collection/tablet/gorgany-tablet.jpg    1x,
            /img/our-collection/tablet/gorgany-tablet@2x.jpg 2x
          "
          width="342"
          height="430"
        />
        <source
          media="(min-width: 768px )"
          srcset="
            /img/our-collection/mobile/gorgany-mobile.jpg    1x,
            /img/our-collection/mobile/gorgany-mobile@2x.jpg 2x
          "
          width="704"
          height="521"
        />
        <img
          src="/img/our-collection/mobile/gorgany-mobile.jpg"
          alt="Women's blouse Gorgany"
        />
      </picture>
      <div class="our-collection-text-container">
        <h3 class="our-collection-menu-title">WOMEN'S BLOUSE GORGANY</h3>
        <p class="our-collection-menu-subtitle">3350 UAH</p>
      </div>
    </li>
    <li class="our-collection-menu-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="/img/our-collection/desktop1440/crimea-desktop1440.jpg 1x, /img/our-collection/desktop1440/crimea-desktop1440@2x.jpg 2wx"
          width="400"
          height="430"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/our-collection/desktop/crimea-desktop.jpg    1x,
            /img/our-collection/desktop/crimea-desktop@2x.jpg 2x
          "
          width="380"
          height="430"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/our-collection/tablet/crimea-tablet.jpg    1x,
            /img/our-collection/tablet/crimea-tablet@2x.jpg 2x
          "
          width="342"
          height="430"
        />
        <source
          media="(max-width: 768px )"
          srcset="
            /img/our-collection/mobile/crimea-mobile.jpg    1x,
            /img/our-collection/mobile/crimea-mobile@2x.jpg 2x
          "
          width="704"
          height="521"
        />
        <img
          src="/img/our-collection/mobile/crimea-mobile.jpg"
          alt="Women's blouse Crimea"
        />
      </picture>
      <div class="our-collection-text-container">
        <h3 class="our-collection-menu-title">WOMEN'S BLOUSE CRIMEA</h3>
        <p class="our-collection-menu-subtitle">4000 UAH</p>
      </div>
    </li>
    <li class="our-collection-menu-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/our-collection/desktop1440/verkhovina-desktop1440.jpg    1x,
            /img/our-collection/desktop1440/verkhovina-desktop1440@2x.jpg 2x
          "
          width="400"
          height="430"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/our-collection/desktop/verkhovina-desktop.jpg    1x,
            /img/our-collection/desktop/verkhovina-desktop@2x.jpg 2x
          "
          width="380"
          height="430"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/our-collection/tablet/verkhovina-tablet.jpg    1x,
            /img/our-collection/tablet/verkhovina-tablet@2x.jpg 2x
          "
          width="342"
          height="430"
        />
        <source
          media="(max-width: 768px )"
          srcset="
            /img/our-collection/mobile/verkhovina-mobile.jpg    1x,
            /img/our-collection/mobile/verkhovina-mobile@2x.jpg 2x
          "
          width="704"
          height="521"
        />
        <img
          src="/img/our-collection/mobile/verkhovina-mobile.jpg"
          alt="Men's shirt Verkhovina"
        />
      </picture>
      <div class="our-collection-text-container">
        <h3 class="our-collection-menu-title">MEN'S SHIRT VERKHOVINA</h3>
        <p class="our-collection-menu-subtitle">3100 UAH</p>
      </div>
    </li>
    <li class="our-collection-menu-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/our-collection/desktop1440/mountain-desktop1440.jpg    1x,
            /img/our-collection/desktop1440/mountain-desktop1440@2x.jpg 2x
          "
          width="400"
          height="430"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/our-collection/desktop/mountain-desktop.jpg    1x,
            /img/our-collection/desktop/mountain-desktop@2x.jpg 2x
          "
          width="380"
          height="430"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/our-collection/tablet/mountain-tablet.jpg    1x,
            /img/our-collection/tablet/mountain-tablet@2x.jpg 2x
          "
          width="342"
          height="430"
        />
        <source
          media="(max-width: 768px )"
          srcset="
            /img/our-collection/mobile/mountain-mobile.jpg    1x,
            /img/our-collection/mobile/mountain-mobile@2x.jpg 2x
          "
          width="704"
          height="521"
        />
        <img
          src="/img/our-collection/dmobile/mountain-mobile.jpg"
          alt="Mountain men's shirt"
        />
      </picture>
      <div class="our-collection-text-container">
        <h3 class="our-collection-menu-title">MOUNTAIN MEN'S SHIRT</h3>
        <p class="our-collection-menu-subtitle">3300 UAH</p>
      </div>
    </li>
    <li class="our-collection-menu-item">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/our-collection/desktop1440/yasen-desktop1440.jpg    1x,
            /img/our-collection/desktop1440/yasen-desktop1440@2x.jpg 2x
          "
          width="400"
          height="430"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/our-collection/desktop/yasen-desktop.jpg    1x,
            /img/our-collection/desktop/yasen-desktop@2x.jpg 2x
          "
          width="380"
          height="430"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/our-collection/tablet/yasen-tablet.jpg    1x,
            /img/our-collection/tablet/yasen-tablet@2x.jpg 2x
          "
          width="342"
          height="430"
        />
        <source
          media="(max-width: 768px )"
          srcset="
            /img/our-collection/mobile/yasen-mobile.jpg   1x,
            /img/our-collection/mobile/yasen-mobile2x.jpg 2x
          "
          width="704"
          height="521"
        />
        <img
          src="/img/our-collection/mobile/yasen-mobile.jpg"
          alt="Men's shirt Yasen"
        />
      </picture>
      <div class="our-collection-text-container">
        <h3 class="our-collection-menu-title">MEN'S SHIRT YASEN</h3>
        <p class="our-collection-menu-subtitle">1700 UAH</p>
      </div>
    </li>
  </ul>
</section>
