<section>
    <h2></h2>
    <ul>
        <div>
            <li>
                <div>
                    <picture>
                        <source 
                            media="(min-width: 1440px)" 
                            srcset="/src/img/our-collection/desktop1440/poltava-desktop1440.jpg, /src/img/our-collection/desktop1440/poltava-desktop1440@2x.jpg">
                        <source 
                            media="(min-width: 1280px)" 
                            srcset="/src/img/our-collection/desktop/poltava-desktop.jpg, /src/img/our-collection/desktop/poltava-desktop@2x.jpg">
                        <source 
                            media="(min-width: 768px)" 
                            srcset="/src/img/our-collection/tablet/poltava-tablet.jpg, /src/img/our-collection/tablet/poltava-tablet@2x.jpg">
                        <source 
                            media="(max-width: 768px )" 
                            srcset="/src/img/our-collection/mobile/poltava-mobile.jpg, /src/img/our-collection/mobile/poltava-mobile@2x.jpg">
                            
                        <img src="" alt="">
                    </picture>
                </div>
                <div>
                    <h3></h3>
                    <p></p>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source 
                            media="(min-width: 1440px)" 
                            srcset="">
                        <source 
                            media="(min-width: 1280px)" 
                            srcset="">
                        <source 
                            media="(min-width: 768px)" 
                            srcset="">
                        <source 
                            media="(max-width: 768px )" 
                            srcset="">
                            
                        <img src="" alt="">
                    </picture>
                </div>
                <div>
                    <h3></h3>
                    <p></p>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source 
                            media="(min-width: 1440px)" 
                            srcset="">
                        <source 
                            media="(min-width: 1280px)" 
                            srcset="">
                        <source 
                            media="(min-width: 768px)" 
                            srcset="">
                        <source 
                            media="(max-width: 768px )" 
                            srcset="">

                        <img src="" alt="">
                    </picture>
                </div>
                <div>
                    <h3></h3>
                    <p></p>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source 
                            media="(min-width: 1440px)" 
                            srcset="">
                        <source 
                            media="(min-width: 1280px)" 
                            srcset="">
                        <source 
                            media="(min-width: 768px)" 
                            srcset="">
                        <source 
                            media="(max-width: 768px )" 
                            srcset="">

                        <img src="" alt="">
                    </picture>
                </div>
                <div>
                    <h3></h3>
                    <p></p>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source 
                            media="(min-width: 1440px)" 
                            srcset="">
                        <source 
                            media="(min-width: 1280px)" 
                            srcset="">
                        <source 
                            media="(min-width: 768px)" 
                            srcset="">
                        <source 
                            media="(max-width: 768px )" 
                            srcset="">
                            
                        <img src="" alt="">
                    </picture>
                </div>
                <div>
                    <h3></h3>
                    <p></p>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source 
                            media="(min-width: 1440px)" 
                            srcset="">
                        <source 
                            media="(min-width: 1280px)" 
                            srcset="">
                        <source 
                            media="(min-width: 768px)" 
                            srcset="">
                        <source 
                            media="(max-width: 768px )" 
                            srcset="">

                        <img src="" alt="">
                    </picture>
                </div>
                <div>
                    <h3></h3>
                    <p></p>
                </div>
            </li>
        </div>
    </ul>
</section>