<section class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list">
      <!-- 1 -->
      <li class="testimonials-item">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/maria@2x.png 2x"
          src="./img/testimonials/maria.png"
          alt="Maria's photo"
          width="64"
          height="64"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Maria Tkachuk</h3>
          <p class="testimonials-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <!-- 2  -->
      <li class="testimonials-item hidden-item-first">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/sergey@2x.png 2x"
          src="./img/testimonials/sergey.png"
          alt="Sergei's photo"
          width="64"
          height="64"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Sergey Rybachok</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <!-- 3 -->
      <li class="testimonials-item hidden-item-second">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/natalia@2x.png 2x"
          src="./img/testimonials/natalia.png"
          alt="Natalia's photo"
          width="64"
          height="64"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
                  <!-- 4 
      <li class="testimonials-item">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/natalia@2x.png 2x"
          src="./img/testimonials/natalia.png"
          alt="Natalia's photo"
          width="64"
          height="64"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
      -->
            <!-- 5 
      <li class="testimonials-item">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/natalia@2x.png 2x"
          src="./img/testimonials/natalia.png"
          alt="Natalia's photo"
          width="64"
          height="64"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
      -->
            <!-- 6 
      <li class="testimonials-item">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/natalia@2x.png 2x"
          src="./img/testimonials/natalia.png"
          alt="Natalia's photo"
          width="64"
          height="64"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
      -->
    </ul>
  </div>
</section>