<section class="testimonials">
  <div class="container swiper">
    <h2 class="testimonials-title" id="testimonials">Testimonials</h2>

    <ul class="testimonials-list swiper-wrapper">
      <li class="testimonials-item swiper-slide">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/maria@2x.png 2x"
          src="./img/testimonials/maria.png"
          alt="Maria's photo"
          width="64"
          height="64"
          loading="lazy"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Maria Tkachuk</h3>
          <p class="testimonials-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonials-item swiper-slide">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/sergey@2x.png 2x"
          src="./img/testimonials/sergey.png"
          alt="Sergei's photo"
          width="64"
          height="64"
          loading="lazy"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Sergey Rybachok</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testimonials-item swiper-slide">
        <img
          class="testimonials-icon"
          srcset="./img/testimonials/natalia@2x.png 2x"
          src="./img/testimonials/natalia.png"
          alt="Natalia's photo"
          width="64"
          height="64"
          loading="lazy"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
      <li class="testimonials-item swiper-slide">
        <img
          class="testimonials-icon"
          srcset="/img/testimonials/victoria@2x.png 2x"
          src="/img/testimonials/victoria.png"
          alt="Natalia's photo"
          width="64"
          height="64"
          loading="lazy"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Victoria Dobrzhanska</h3>
          <p class="testimonials-text">
            I absolutely adore Vyshyvanka Vibes. The store has a huge assortment
            of clothes, you can choose for every day and for holidays. I have
            already bought two products. The quality is top notch! In addition,
            the store has very pleasant service. I recomend this shop to
            everyone.
          </p>
        </div>
      </li>
      <li class="testimonials-item swiper-slide">
        <img
          class="testimonials-icon"
          srcset="/img/testimonials/nazar@2x.png 2x"
          src="/img/testimonials/nazar.png"
          alt="Natalia's photo"
          width="64"
          height="64"
          loading="lazy"
        />
        <div class="testimonials-box">
          <h3 class="testimonials-subtitle">Nazar Babenko</h3>
          <p class="testimonials-text">
            I'm very glad I found this store. I urgently needed to find our
            traditional clothes, but it turned out to be not so easy. There are
            very few beautiful embroidered shirts for men. Vyshyvanka Vibes has
            a large assortment and the quality is very pleasing. Finally i found
            great shop with traditional clothes.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
