<section class="your-order" id="your-order">
  <div class="container">
    <div class="bcg-img-your-order"></div>
    <div class="wrap-your-order-mob-tablet">
      <div class="your-order-section-mob-tablet">
        <h2 class="title-your-order">
          <span class="text-color-order">Your order </span>is our priority:
          Personalized approach and quality of service
        </h2>
        <form class="form-your-order">
          <input
            class="order-input"
            type="text"
            name="user-name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            placeholder="Enter your full name"
            required
          />
          <input
            class="order-input"
            type="email"
            name="user-email"
            placeholder="Enter your email"
            required
          />
          <textarea
            class="order-textarea"
            name="user-comment"
            placeholder="Comments"
            required
          ></textarea>
          <button class="btn-order" type="submit">
            Send
            <svg class="icon-btn-order" width="24" height="17">
              <use href=""></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="your-order-img-tablet">
        <picture>
          <source
            srcset="1x, 2x"
            media="(min-width: 768px)"
            width="704"
            height="521"
          />
          <img src="" alt="your-order-img" />
        </picture>
      </div>
    </div>
    <div class="wrap-your-order-desktop">
        <div class="your-order-img">
            <picture>
                <source
            srcset="1x, 2x"
            media="(min-width: 1440px)"
            width="524"
            height="521"
          />
                <source
            srcset="1x, 2x"
            media="(min-width: 1280px)"
            width="588"
            height="521"
          />
                <img src="" alt="your-order-img" />
            </picture>
        </div>
        <div class="your-order-section-desktop">
             <h2 class="title-your-order">
                 <span class="text-color-order">Your order </span>is our priority:
          Personalized approach and quality of service
             </h2>
             <form class="form-your-order">
          <input
            class="order-input"
            type="text"
            name="user-name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            placeholder="Enter your full name"
            required
          />
          <input
            class="order-input"
            type="email"
            name="user-email"
            placeholder="Enter your email"
            required
          />
          <textarea
            class="order-textarea"
            name="user-comment"
            placeholder="Comments"
            required
          ></textarea>
          <button class="btn-order" type="submit">
            Send
            <svg class="icon-btn-order" width="24" height="17">
              <use href=""></use>
            </svg>
          </button>
        </form>
      </div>
      
    </div>
    </div>
  </div>
</section>
